$header-text: #a13729;
$bg-pri: #224e79;
$bg-sec: #ffffff;
$bg-third: #D0826F;
$sec-text: #81b4e4;
$hover: black;
$dark: #000000;
$h-padding: 3rem 3rem 3rem 3rem;
$b-padding: 1rem;
$side-panel: #DFE0E0