$header-text: #a13729;
$bg-pri: #224e79;
$bg-sec: #ffffff;
$sec-text: #81b4e4;
$hover: red;
$dark: #000000;
$h-padding: 4rem 0 4rem 0;
$b-padding: 4rem;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bg-sec;
  max-width: 1200px;
  margin: auto;

  a {
    color: $bg-sec;
    text-decoration: none;
    font-weight: 100;
  }

  a:hover {
    color: $hover;
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
    color: $header-text;
    text-shadow: $dark 2px 2px 2px;
    border-bottom: $header-text solid 0.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav {
    flex: 1;
    color: $bg-sec;
    background-color: $bg-pri;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
  }
  .logo {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    justify-content: flex-start;
  }
}

.hero {
  display: flex;
  justify-content: center;
  background: url("/img/bg.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 500px;
  width: 100%;
}

.blue-elements {
  // shared components for all flex container elements with the blue background
  display: flex;
  justify-content: center;
  align-content: flex-start;
  background: #224e79;
  color: $sec-text;
}

.intro-panel {
  @extend .blue-elements;
}

.intro-upper {
  text-align: center;
  padding: $h-padding;
  width: 60%;
  background-color: $bg-sec;
  font-style: italic;
  color: $header-text;
  margin: auto;
}

.intro-lower {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: $bg-pri;
  width: 50%;

  .wisdom {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: center;
    background-color: $bg-pri;
    width: 15%;
    padding-bottom: $b-padding;

    h2 {
      align-self: center;
    }

    .bubble {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background-color: $bg-sec;
      position: relative;
      top: -3.5rem;
      align-self: center;
    }
  }
}

.skills {
  h2 {
    color: $header-text;
    text-align: center;
    padding-top: $b-padding;
  }

  .skills-block {
    display: flex;
    justify-content: center;
    margin: $h-padding;
    background-color: $bg-sec;
  }

  .skills-panel {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: $bg-sec;
    width: 75%;
  }

  .skill {
    display: flex;
    justify-content: flex-start;
    justify-self: center;
    align-self: center;
    width: 75%;
    margin: 1rem 0rem 1rem 0rem;
    background-color: $sec-text;
    height: 2rem;
    border: $dark solid 1px;
    border-left: $dark solid 3px;
    border-radius: 1rem;
  }
  .skill-bar {
    flex-grow: 0.5;
    align-self: center;
    background: $header-text;
    color: $sec-text;
    padding-left: 1rem;
  }
}

.portfolio {
  @extend .blue-elements;
  flex-direction: column;
  padding-bottom: $b-padding;

  h2 {
    text-align: center;
    padding: $h-padding;
    color: $sec-text;
  }

  .portfolio-panel {
    display: flex;
    flex-direction: row;
  }
}

.project {
  text-align: center;
  border: $dark 1px solid;
  border-radius: 0.5rem;
  margin: 0.5rem 5rem 0 5rem;
  background: $sec-text;
  color: $dark;

  img {
    max-width: 50%;
    margin: 1rem 0 1rem 0;
  }

  p {
    margin: 0 0.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    .portfolio-panel {
      flex-direction: column;
    }
  }
}

.about {
  h2 {
    margin: $h-padding;
    color: $header-text;
  }

  .about-panel {
    display: flex;
    flex-direction: row;
    padding: 0 0 5rem 0;

    .about-item {
      display: flex;
      justify-content: flex-end;
      width: 50vw;
      background: $bg-sec;
      padding: 0 2.5rem $b-padding 5rem;
      height: 100%;
    }

    img {
      border-radius: 50%;
      border: 1px solid $bg-pri;
    }

    .about-text {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 5rem $b-padding 2.5rem;
    }
  }

  @media screen and (max-width: 800px) {
    .about-panel {
      flex-direction: column;
    }
  }

  .about-item {
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .about-panel {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about .about-panel .about-item {
    justify-content: center;
    padding: 0 0 3rem 0;
  }
  .about .about-text {
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  .intro-panel {
    align-content: center;
    flex-direction: column;
  }
  .intro-lower {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    padding-bottom: $b-padding;
  }

  .bubble2 {
    position: relative;
    top: -1rem;
    align-self: center;
  }

  .skills-block {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-panel {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }
  .nav {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
  }
}

.find-me {
  display:flex;
  flex-direction: column;
  background-color: $sec-text;
  color: $bg-pri;

  h2 {
    padding: $h-padding;
  }

  .icons {
    justify-items: space-around;
    a {
      color:$bg-pri;
    }
    a:hover{
      color:$hover;
      font-weight: unset;
    }
    font-size: 5rem;
    padding-bottom: $b-padding;
    text-align: center;
  }

}

.contact {
  display:flex;
  background-color: $bg-pri;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: $h-padding;
    color: $sec-text;
  }

  form {
    padding-bottom: $b-padding;
  }
}

/* $sec-text - light blue BACKGROUND
#224e79 - dark blue
#598ab8 - medium blue
#bfc8d0 - gray
#a13729 - red
#db9035 - orange */
