@import '_variables.scss';
@import 'animate.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  padding: 0;
  overflow-x: hidden;


  a {
    color: $bg-sec;
    text-decoration: none;
    font-weight: 100;
  }

  a:hover {
    color: $hover;
    font-weight: 700;
  }
}

.container {
  display: flex;
  flex-direction: row;
  background-color: $bg-sec;
  max-width: 1200px;
  margin: auto;
  border-left: 1px;
  border-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: black;
  border-style: solid;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

}

/* NAV BAR
*************************************************************/

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 10;
  // height: 70px;

  .nav {
    color: $bg-sec;
    background-color: $bg-third;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    flex-grow: 1;
    z-index: 10;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    position: static;
  }
}


/* LEFT PANEL 
**********************************
**********************************/

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 450px;
  background-color: $side-panel;
  top: 70px;

  @media screen and (max-width: 700px) {
    width: 100%;
    position: unset;
  }

  .blue-triangle {
    width: 0;
    height: 0;
    border-bottom: 450px solid transparent;
    border-left: 450px solid $bg-pri;
    @media screen and (max-width: 700px) {
      border-bottom: 100vw solid transparent;
      border-left: 100vw solid $bg-pri;
      position: absolute;
    }
  }

  img {
    position: absolute;
    top: 5rem;
    border: 1px solid $bg-pri;
    width: 72%;
    border-radius: 50%;
    margin: auto;
    @media screen and (max-width: 700px) {
      top: unset;
      position: unset;
      z-index: 1;
      padding-top: 3rem;
    }
  }

  h2 {
    text-align: center;
    color: $bg-pri;
  }

  .skills {
    padding: 2rem;
    text-align: center;

    .skill {
      display: flex;
      align-self: flex-start;
      width: 50%;
      min-width: 350px;
      margin: 1rem 1rem 1rem 0;
      background-color: $bg-sec;
      height: 30px;
      border: $dark solid 1px;
    }

    .skill-name {

      flex: 0 0 8rem;
      align-self: center;
      font-weight: 500;
      padding: 0 1em 0 1em;
      text-align: right;
    }

    .skill-bar {
      flex: 1;
      height: 30px;
      align-items: center;
      display: flex;
    }

    .knob {
      background-color: $bg-third;
      height: 100%;
    }
  }

  .find-me {
    display: flex;
    flex-direction: column;
    color: $bg-pri;
    width: 100%;

    .icons {
      justify-items: space-around;

      a {
        color: $bg-pri;
      }

      a:hover {
        color: $hover;
        font-weight: unset;
      }

      font-size: 5rem;
      padding-bottom: $b-padding;
      text-align: center;
    }
  }
}


/* MAIN PANEL
**********************************
**********************************/

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}

/* HEADER
*********************************************/

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 1rem;
  height: 400px;
  margin-bottom: 2rem;

  @media screen and (max-width: 700px) {
    display: none;
  }


  .right-wing {
    position: absolute;
    top: -120vmin;
    right: -50vmin;
    z-index: 0;
    transform: rotate(17deg);
    background-color: $bg-third;
    width: 150vmin;
    height: 150vmin;
    overflow-x: hidden;

  }

  h1 {
    font-size: 3rem;
    color: $dark;
    position: relative;
    right: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    z-index: 1;
  }
}

.links {
  text-align: center;
  margin: auto;
}

/* INTRO
*********************************************/

.intro-upper {
  text-align: center;
  padding: $h-padding;
  // width: 60%;
  background-color: $bg-sec;
  font-style: italic;
  color: $header-text;
  margin: auto;
}


/* PORTFOLIO
*********************************************/

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // align-content: flex-start;
  background: $bg-sec;
  color: $sec-text;

  h2 {
    text-align: center;
    padding: $h-padding;
    color: $header-text;
  }

  .project {
    text-align: center;
    color: $dark;
    max-width: 600px;
    border-bottom: 1px solid $dark;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    a {
      color: $dark;
      font-weight: bold;
    }

    a:hover {
      color: $bg-pri;
    }

    img {
      max-width: 90%;
      min-width: 250px;
      margin: 1rem 0 1rem 0;
    }

    p {
      margin: 0 0.5rem 1rem 0.5rem;
    }

  }

  .last {
    border-bottom: 0;
  }

  .project:hover {
    background-color: lightyellow;
  }
}

@media screen and (min-width: 1600px) {
  .portfolio-panel {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;

    .project {
      flex: 1 0;
      margin: 0.5rem 2rem $b-padding 2rem;
    }
  }
}

/* ABOUT ME
*********************************/

.about {
  h2 {
    padding: $h-padding;
    color: $header-text;
    text-align: center;
  }

  .about-text {
    width: 90%;
    text-align: center;
    margin: auto;

    p {
      text-align: justify;
      padding-bottom: .5rem;
    }
  }

}


/* FOOTER
*************************************/

footer {
  text-align: center;
  padding: $b-padding;

  h2 {
    text-align: center;
    padding: $h-padding;
    color: $header-text;
  }

  .line {
    flex: 1;
    height: 6px;
    margin: 0 1rem;
    background-color: $bg-pri;
  }

  .line-head {
    display: flex;
    align-items: center;
  }
}

.sent {
  color: $bg-sec;
  font-weight: bold;
  text-align: center;
}


/* ANIMATIONS
******************************************
******************************************/


.h1-underline {
  width: 20px;
  background-color: $header-text;
}

.h1-underline-end {
  width: 80%;
  height: .5rem;
  transition-delay: 1s;
  transition-duration: 1s;
}

@keyframes growBar {
  from {
    width: 0;
    visibility: visible;
  }
}

.growBar {
  animation-name: growBar;
}