$header-text: #a13729;
$bg-pri: #224e79;
$bg-sec: #ffffff;
$sec-text: #81b4e4;
$hover: black;
$dark: #000000;
$h-padding: 4rem 0 4rem 0;
$b-padding: 4rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  padding: 0 0.5rem 0 0.5rem;

  a {
    color: $bg-sec;
    text-decoration: none;
    font-weight: 100;
  }

  a:hover {
    color: $hover;
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
    color: $header-text;
    text-shadow: $dark 2px 2px 2px;
  }

  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.container {
  background-color: $bg-sec;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  .nav {
    color: $bg-sec;
    background-color: $bg-pri;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    flex-grow: 1;
  }
  .logo {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  nav {
    flex-direction: row;
  }
}

section {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(34, 78, 121, 0.8);
  background-blend-mode: multiply;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 500px;
}

.blue-elements {
  // shared components for all flex container elements with the blue background - work in progress though
  display: flex;
  // align-content: flex-start;
  background: #224e79;
  color: $sec-text;
}

.intro-upper {
  text-align: center;
  padding: $h-padding;
  width: 60%;
  background-color: $bg-sec;
  font-style: italic;
  color: $header-text;
  
}

.intro-panel {
  @extend .blue-elements;
  flex-direction: column;
  padding: 0 3rem 0 3rem;
}

.wisdom {
  display: flex;
  flex: 1;
  flex-direction: column;
  // width: 75%;
  text-align: center;
  padding: 1rem 3rem $b-padding 3rem;
  margin: auto;
  align-items: center;

  h2 {
    align-self: center;
  }

  .bubble {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: $bg-sec;
    position: relative;
    top: -4.5rem;
  }

  .bubble2,
  .bubble3,
  .bubble4 {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .intro-panel {
    // flex-direction: row;
  }
  .intro-half {
    display: flex;
    flex-direction: row;
    flex: 1 0;
  }
  .wisdom {
    flex: 1 0;  
    margin: initial;
    align-items: space-around;

    .bubble2 {
      display: block;
    }
  }
}

@media screen and (min-width: 1200px) {
  .intro-half {
    flex-direction: row;
  }
  .intro-panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .bubble3,
  .bubble2,
  .bubble4 {
    display: block !important;
  }
}

.skills {
  padding: $h-padding;
  flex-grow: 1;

  h2 {
    color: $header-text;
    text-align: center;
    padding-bottom: $b-padding;
  }

  .skill {
    display: flex;
    width: 50%;
    min-width: 400px;
    margin: 1rem auto 1rem auto;
    background-color: $sec-text;
    height: 2rem;
    border: $dark solid 1px;
    border-left: $dark solid 3px;
    border-radius: 0.3rem;
  }

  .skill-name {
    flex: 0 0 8rem;
    align-self: center;
    font-weight: 500;
    padding: 0 1em 0 1em;
    text-align: right;
  }

  .skill-bar {
    flex: 1;
    // background: $sec-text;
    height: 2rem;

  }

  .knob {
    background-color: $header-text;
    height: 1.9rem;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // align-content: flex-start;
  background: #224e79;
  color: $sec-text;

  h2 {
    text-align: center;
    padding: $h-padding;
    color: $sec-text;
  }

  .project {
    text-align: center;
    border: $dark 1px solid;
    border-radius: 0.5rem;
    margin: 0.5rem 10vw $b-padding 10vw;
    background: $sec-text;
    color: $dark;
    max-width: 600px;

    img {
      max-width: 50%;
      min-width: 250px;
      margin: 1rem 0 1rem 0;
    }

    p {
      margin: 0 0.5rem 1rem 0.5rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .portfolio-panel {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;

    .project {
      flex: 1 0;
      margin: 0.5rem 2rem $b-padding 2rem;
    }
  }
}

.about {
  h2 {
    margin: $h-padding;
    color: $header-text;
  }

  .about-panel {
    display: flex;
    flex-direction: row;
    padding: 0 0 5rem 0;

    .about-item {
      display: flex;
      justify-content: flex-end;
      width: 50vw;
      background: $bg-sec;
      padding: 0 2.5rem $b-padding 5rem;
      height: 100%;
    }

    img {
      border-radius: 50%;
      border: 1px solid $bg-pri;
    }

    .about-text {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 5rem $b-padding 2.5rem;
    }
  }

  @media screen and (max-width: 800px) {
    .about-panel {
      flex-direction: column;
    }
  }

  .about-item {
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .about-panel {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about .about-panel .about-item {
    justify-content: center;
    padding: 0 0 3rem 0;
  }
  .about .about-text {
    padding: 0 0 0 0;
  }
}

.find-me {
  display: flex;
  flex-direction: column;
  background-color: $sec-text;
  color: $bg-pri;
  width: 100%;

  h2 {
    padding: $h-padding;
  }

  .icons {
    justify-items: space-around;
    a {
      color: $bg-pri;
    }
    a:hover {
      color: $hover;
      font-weight: unset;
    }
    font-size: 5rem;
    padding-bottom: $b-padding;
    text-align: center;
  }
}

.contact {
  display: flex;
  background-color: $bg-pri;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: $h-padding;
    color: $sec-text;
  }

  form {
    padding-bottom: $b-padding;
  }

  .row {
    display: flex;
    flex-direction: column;

    input, textarea {
      flex: 1 0;
      font-size: 1.25rem;
      margin: 1rem;
      border-radius: .5rem;
      border: black solid 2px;
      background-color:$sec-text;
      padding: .5rem;
      max-width: 80vw;
    }
  }
}

@media screen and (min-width:1000px) {
  .contact {
    .row {
      flex-direction: row;
    }
  }
}

footer {
  text-align: center;
  padding: $b-padding;

  h2 {
    color: $header-text;
  }
  .line {
    flex: 1;
    height: 6px;
    margin: 0 1rem;
    background-color: $bg-pri;
  }
  .line-head {
    display:flex;
    align-items: center;
  }
}

.sent {
  color: $bg-sec;
  font-weight: bold;
  text-align: center;
}

// animations

  
.h1-underline {
  width:20px;
  background-color: $header-text;
}

.h1-underline-end {
  width: 80vw;
  height: .5rem;
  transition-delay: 1s;
  transition-duration: 1s;
} 

@keyframes growBar {
  from {
    width: 0;
    visibility: visible;
  }
}

.growBar {
  animation-name: growBar;
}